#main-wrap {
  padding-top: 109px //header height;
}

input,
textarea {
  border: 1px solid $gray-600;
}

// Checkout page newsletter radio button
.mc4wp-checkbox-woocommerce>label>input{
  margin-right: 5px;
}


.background-size--cover {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.page-content {
  margin-top: 10rem;
  
  @include media-breakpoint-down(sm) {
    margin-top: 4rem;
  }
}

.vh-100 {
  height: 100vh;
}

font-size--sm {
  font-size: $font-size-sm;
}

.font-size--lg {
  font-size: $font-size-lg;
}

.h-125 {
  height: 125% !important;
}

// Header slider
.header-text .header-row .header-row-text {
  background:         white;
  -webkit-box-shadow: 0 0 0 4px white;
  box-shadow:         0 0 0 4px white;
  line-height:        1.35;
}

.read-more a:hover{
  color: $white;
}
