#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99
}

#status {
  width: 200px;
  height: 200px;
  left: 50%;
  background-image: url('/wp-content/themes/webshop-theme/assets/images/status.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px
}