/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */
@font-face {
  font-family: 'star';
  src: url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/star.eot');
  src: url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'),
			   url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/star.woff') format('woff'),
			   url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/star.ttf') format('truetype'),
			   url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WooCommerce';
  src: url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.eot');
  src: url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
			   url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.woff') format('woff'),
			   url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.ttf') format('truetype'),
			   url('../../../../../../../wp-content/plugins/woocommerce/assets/fonts/WooCommerce.svg#WooCommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}