// Animations
$transitionTime:          0.35s;

// Color system
$white:                   #fff !default;
$black:                   #000000 !default;
$red:                     #9c291e !default;
$orange:                  #ffba00 !default;
$blue:                    #2ea2cc !default;
$green:                   #454f13;
$indigo:                  #6610f2 !default;
$purple:                  #6f42c1 !default;
$pink:                    #d63384 !default;
$yellow:                  #ffc107 !default;
$teal:                    #20c997 !default;
$cyan:                    #0dcaf0 !default;

$gray-100:                #f2f2f2 !default;
$gray-300:                #ececec;
$gray-600:                #ddd !default;
$gray-700:                #C1C1C1 !default;
$gray-800:                #333;
$gray-900:                #2b2b2b;

$colors:                  (
								  "blue": $blue,
								  "indigo": $indigo,
								  "purple": $purple,
								  "pink": $pink,
								  "red": $red,
								  "orange": $orange,
								  "yellow": $yellow,
								  "green": $green,
								  "teal": $teal,
								  "cyan": $cyan,
								  "white": $white,
								  "gray": $gray-600,
								  "gray-dark": $gray-700
						  ) !default;

$woocommerce:             $red !default;
$gray:                    $gray-900 !default;
$gray-light:              #c1c1c1 !default;

$primary:                 $green !default;

$primarytext:             desaturate(lighten($white, 50%), 18%) !default; // Text on primary color bg

$secondary:               desaturate(lighten($gray, 70%), 21%) !default; // Secondary buttons
$secondarytext:           desaturate(darken($secondary, 60%), 21%) !default; // Text on secondary color bg

$highlight:               adjust-hue($red, 150deg) !default; // Prices, In stock labels, sales flash
$highlightext:            desaturate(lighten($highlight, 50%), 18%) !default; // Text on highlight color bg

$contentbg:               #fff !default; // Content BG - Tabs (active state)
$subtext:                 #767676 !default; // small, breadcrumbs etc

// export vars as CSS vars
:root {
  --woocommerce:       #{$woocommerce};
  --wc-green:          #{$green};
  --wc-red:            #{$red};
  --wc-orange:         #{$orange};
  --wc-blue:           #{$blue};
  --wc-primary:        #{$primary};
  --wc-primary-text:   #{$primarytext};
  --wc-secondary:      #{$secondary};
  --wc-secondary-text: #{$secondarytext};
  --wc-highlight:      #{$highlight};
  --wc-highligh-text:  #{$highlightext};
  --wc-content-bg:     #{$contentbg};
  --wc-subtext:        #{$subtext};
}

// Spacing
$spacer:                  1rem !default;
$spacers:                 (
								  0: 0,
								  1: $spacer * .25,
								  2: $spacer * .5,
								  3: $spacer,
								  4: $spacer * 1.5,
								  5: $spacer * 3,
								  6: $spacer * 4,
								  7: $spacer * 5,
								  8: $spacer * 6,
								  9: $spacer * 7,
								  10: $spacer * 8
						  ) !default;

// Components
//
// Define common padding and border radius sizes and more.

// scss-docs-start border-variables
$border-width:            1px !default;
$border-widths:           (
								  1: 1px,
								  2: 2px,
								  3: 3px,
								  4: 4px,
								  5: 5px,
								  6: 6px,
								  7: 7px,
								  8: 8px,
								  9: 9px,
								  10: 10px
						  ) !default;

// Typography
$font-family-sans-serif:  'GillSans';
$headings-margin-bottom:  $spacer * .9 !default;

$font-size-base:          1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size:            $font-size-base * 3;
$h2-font-size:            $font-size-base * 1.75 !default;
$h3-font-size:            $font-size-base * 1.75 !default;
$h5-font-size:            $font-size-base * 1.2;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-negative-margins: true;

// Components
//
// Define common padding and border radius sizes and more.
$border-radius:           0;